@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: forest --default, forest --prefersdark, forest;
}

* {
  scroll-behavior: smooth;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
